<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>
    <%= comment.author %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @event, @event.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>