<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%# <%= render 'events/form', event: @event %>
            <%= form_with scope: :event, url: events_path, local: true do |form| %>
              <p>
                <%= form.label :title %><br>
                <%= form.text_field :title %>
              </p>
            
              <p>
                <%= form.label :start %>
                <%= form.datetime_select :start %>
              </p>

              <p>
                <%= form.label :end %>
                <%= form.datetime_select :end %>
              </p>

              <p>
                <%= form.label :color %>
                <%= form.text_field :color %>
              </p>

              <p>
                <%= form.label :private %>
                <%= form.check_box :private_event %>
              </p>

              <p>
                 <div class="action">
                  <%= form.submit 'Create', :class => 'btn btn-info' %>
                </div>
                
              </p>
            <% end %>
      </div>
    </div>
  </div>
</div>