<div class="card border-dark mb-3">
  <h2 class="card-header bg-info text-center">Todos</h2>
  <div class="card-body">
  <% @event.todos.each do |todo| %>
    
    <% if todo.completed? %>
      <div class="todo_item">
      <li>
        <strike><%= todo.body %></strike>
      </li>
      </div>
    <% else %>
      <li>
        <% if !todo.priority %>
          <%= todo.body %>
          <%= link_to "Complete", complete_event_todo_path(@event, todo.id), method: :patch %>
        <% else %>
          <%= todo.body %> --> Priority: <%= todo.priority %>
          <%= link_to "Complete", complete_event_todo_path(@event, todo.id), method: :patch %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <br/>
  <%= form_with(model: [ @event, @event.todos.build ], local: true) do |form| %>
    <p>
      <%= form.text_area :body, class: "form-control form-control-lg", placeholder: "Add to-do items here"%>
    </p>
    <p>
      Priority: <%= form.select :priority, ['High', 'Med', 'Low'] %>
    <p>
      <button class="btn btn-info" type="submit">Add todo</button>
    </p>
  <% end %>
  </div>
</div>